export("psm_analysis")
export("psm_analysis_weighted")
export("psm_plot")
exportClasses("psm")

S3method(summary, psm)

importFrom("methods", "new")
importFrom("stats", "ecdf")
importFrom("stats", "approx")
importFrom("stats", "weighted.mean", "weights")
importFrom("stats", "median")


importFrom("survey", "svycdf")
importFrom("survey", "svydesign")

importFrom("rlang", ".data")
